{% extends "base.html" %}
{% block title %}Skate-o-Meter | Sessie menu{% endblock %}
{% block body %}
    <section class="o-row o-row--intro">
        <div class="o-container">
            <article class="o-section o-section--lg">
                <div class="o-layout o-layout--gutter-lg o-layout--align-center">
                    <div class="o-layout__item">
                        <h1 class="c-lead c-lead--xl u-color-primary-base">Sessie menu</h1>
                        <table>
                            {% for i in name %}
                                <th>
                                    {{ i[0] }}
                                </th>
                            {% endfor %}
                            {% for i in sessies %}
                                <tr>
                                    {% for x in i %}
                                        <td><a href="{{ url_for("sessiondetail", sessie=i[0] ) }}">
                                            {% if loop.first %}
                                                {{ x }}
                                            {% else %}
                                                {{ x }}
                                            {% endif %}
                                        </a>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock %}
