[Unit]
Description=uWSGI instance to serve project1 web interface
After=network.target
BindsTo=mysqld.service
After=mysqld.service

[Service]
User=me
Group=www-data
WorkingDirectory=/home/me/skateometer/web
ExecStart=/usr/bin/uwsgi --ini /home/me/skateometer/conf/uwsgi-flask.ini

[Install]
WantedBy=multi-user.target
